<div class="">
	<span class="largeNumber"><%= "#{@service_event_count} / #{service.max_bookings}" %></span>
	<span class="light gray"><%= t('bookings') %></span>
</div>
<div class="">
	<span class="largeNumber"><%= "#{@conf_book_count} / #{service.max_confirmed_bookings}" %></span>
	<span class="light gray"><%= t('confirmed_bookings') %></span>
</div>