<p style="font-family: Helvetica, sans-serif; font-size: 10pt;">Estimad@s,</p>
 
<p style="font-family: Helvetica, sans-serif; font-size: 10pt;">El equipo de <a style = "color: #888;" href= 'http://www.matriclick.com'>Matriclick.com</a> les da una cordial bienvenida a la comunidad de novios y proveedores que está revolucionando el mercado.</p>

<h2 style="font-family: Helvetica, sans-serif; font-size: 12pt; margin-top:20px;">¿Qué es Matriclick.com?</h2>
<p style="font-family: Helvetica, sans-serif; font-size: 10pt;"><a style = "color: #888;" href= 'http://www.matriclick.com'>Matriclick.com</a> es una comunidad de novios y proveedores, donde los novios tienen diferentes herramientas para organizar su matrimonio; pueden cotizar productos y servicios, gestionar su presupuesto, organizar las mesas de invitados y muchas otras cosas.</p>

<p style="font-family: Helvetica, sans-serif; font-size: 10pt;">Por otra parte los <span style="font-weight:bolder; text-decoration:underline;">proveedores</span> tienen su propio espacio, en el cual pueden subir sus imágenes, información, videos, etc. Además pueden llevar un registro estadístico de las cotizaciones que se realicen a través de nuestro sitio, y de esta forma nosotros los iremos asesorando para mejorar su exposición a los novios.</p>

<h2 style="font-family: Helvetica, sans-serif; font-size: 12pt;margin-top:20px;">Cómo empezar a usar Matriclick.com</h2>
<p style="font-family: Helvetica, sans-serif; font-size: 10pt;">La idea es que en esta etapa puedas empezar a completar tu perfil y mantenerlo siempre actualizado. Recuerda que este sitio lo construimos entre todos, y a mejores proveedores, más novios tendremos.</p>

<p style="font-family: Helvetica, sans-serif; font-size: 10pt;">Te enviaremos un informativo semanal, para contarte en qué estamos y cuáles son los próximos pasos a seguir. Recuerda que hasta marzo estaremos en un período de marcha blanca, en la cual el servicio no tendrá costo alguno para los proveedores.</p>

<p style="font-family: Helvetica, sans-serif; font-size: 10pt;">Para cualquier inquietud o comentario, por favor no dudes en contactarme.</p>

<p style="font-family: Helvetica, sans-serif; font-size: 10pt;">Se despide atentamente,</p>

<p style="font-family: Helvetica, sans-serif; font-size: 10pt;">Carolina Gaete</p>

<%= image_tag attachments['firma_matriclick.jpg'].url, alt: 'Logo Matriclick.com', style: "align:center;" %>

<p style="font-family: Helvetica, sans-serif; font-size: 9pt; color: #777;align:center;">Av. La Dehesa 1201, Torre Oriente, of. 210
<br>
Lo Barnechea, Santiago, Chile</p>

<i><p style="font-family: Helvetica, sans-serif; font-size: 8pt; color: #777;">Este mensaje podría contener información confidencial o privilegiada. Si usted no es el receptor esperado de este correo electrónico no debe divulgarlo, usarlo para cualquier fin o tomar cualquier acción basada en la información contenida en éste. Si usted ha recibido este mensaje por error, por favor, notifique inmediatamente al emisor y bórrelo. Muchas Gracias.</p></i>
