<div class="titulos padding">
	Prensa
</div>
<div class="document_box">
<div class="documento">	
	<div style="float:right"><i>Contacto de prensa: prensa@matriclick.com</i></div>
<br />	

<a title="Matriclick en Diario La Nación" href="http://www.scribd.com/doc/87503829/Matriclick-en-Diario-La-Nacion-Chile" style="margin: 12px auto 6px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block; text-decoration: underline;">Matriclick en Diario La Nación, Chile</a><iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/87503829/content?start_page=1&view_mode=list&access_key=key-16iwg76zriwxnkapxilp" data-auto-height="true" data-aspect-ratio="0.772727272727273" scrolling="no" id="doc_62295" width="100%" height="600" frameborder="0"></iframe>

<a title="Matriclick en Publimetro" href="http://www.scribd.com/doc/86605431/Matriclick-en-Publimetro-Chile" style="margin: 12px auto 6px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block; text-decoration: underline;">Matriclick en Publimetro, Chile</a><iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/86605431/content?start_page=1&view_mode=list&access_key=key-lslcgao4d2osjtiqb8s" data-auto-height="true" data-aspect-ratio="0.772727272727273" scrolling="no" id="doc_9558" width="100%" height="600" frameborder="0"></iframe>

<a title="Matriclick.com en la Segunda" href="http://www.scribd.com/doc/83694510/Matriclick-com-en-la-Segunda-Chile" style="margin: 12px auto 6px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block; text-decoration: underline;">Matriclick.com en la Segunda, Chile</a><iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/83694510/content?start_page=1&view_mode=list&access_key=key-1rz3fdar8sre494940ji" data-auto-height="true" data-aspect-ratio="0.736462093862816" scrolling="no" id="doc_88194" width="100%" height="600" frameborder="0"></iframe>

</div>
</div>
