<div class="right_link">
	<%= link_to t('back'), ceremony_type_tips_path(@ceremony_type), :class => :button %>
</div>
<div class="titulos">
	New tip
</div>
<div class="box">
	<%= render 'form' %>
	<br />
	<br />
</div>
