<div class="login_content-3">
  <div class="login_contenido_wrapper center">
    <div class="login_contenido_izquierda">
      <div class="login_textos_container_1">
        <h4 class="login_h4">Una revolucionaria aplicación Web</h4>
        <p>Es la nueva y revolucionaria forma para organizar matrimonios. En Matriclick buscamos simplificar la organización de todo lo que implica para los novios el matrimonio</p>
      </div>

      <div class="login_textos_container_2">
        <h4 class="login_h4">Todo a un solo click</h4>
        <p>A un solo click los novios podrán acceder a la mejor plataforma para la organización de su matrimonio</p>
      </div>

      <div class="login_textos_container_3">
        <h4 class="login_h4">Los invitados también podrán participar</h4>
        <p>Además los invitados también podrán participar de este proceso. Ellos podrán aportar regalos para la fiesta, confirmar su asistencia, dejar comentarios, y mucho más!</p>
      </div>

      <div class="login_textos_container_4">
        <h4 class="login_h4">Gana puntos Matriclick</h4>
        <p>Para premiar a los novios por preferirnos, se les entregaran "puntos Matriclick" los cuales servirán para canjear por distintos productos o servicios</p>
      </div>
    </div>
    <div class="login_contenido_derecha">
      <div class="login_textos_container_5">
        <h4 class="login_h4">La mejor vitrina para incrementar las ventas</h4>
        <p>Matriclick será la mejor vitrina del mercado para mostrar sus productos y cerrar negocios con los clientes, incrementando sus ventas</p>
      </div>

      <div class="login_textos_container_6">
        <h4 class="login_h4">Extensa base de datos de novios</h4>
        <p>Contamos con una base de datos de más de 1.000 novios que están esperando el lanzamiento en Octubre para comenzar a revisar las opciones que ofrece el mercado</p>
      </div>

      <div class="login_textos_container_7">
        <h4 class="login_h4">Inscríbete ahora y recibe grandes beneficios</h4>
        <p>Todos los proveedores que se inscriban antes del 1 de Octubre, recibirán acceso a una cuenta preferencial donde no pagarán ni siquiera por los ingresos extras que generen durante 2 meses. ¡Es gratis y sin compromisos!</p>
      </div>

      <div class="login_textos_container_8">
        <h4 class="login_h4">Un gran sitio, grandes compromisos</h4>
        <p>Próximamente tendremos el mejor sitio del mercado para los novios, por lo que ofreceremos asesorías gratuitas a  nuestros proveedores. ¡Los Proveedores también ganan puntos Matriclick!</p>
      </div>
    </div>            
  </div>
	<div class="login_sombra_footer"></div>
  <div class="login_footer center">
    <p class="login_texto_footer">
      Contacto: Carolina Gaete - <a class="login_mail_to" href="mailto:carolina.gaete@matriclick.com">carolina.gaete@matriclick.com</a>
      <br />
      Todos los derechos reservados - Matriclick.com 2011
    </p>
  </div>
</div>